@mixin qi-common {
    qi-client-logo {
        margin: 5px 0px 5px 5px;
    }
    .header {
        border-bottom: 1px solid rgba(128, 128, 128, 0.25);
        padding-bottom: 5px;
    }
    .valo-menu {
        border-right: 0px;
    }
    .valo-menu-toggle {
        display: inline;
    }

    .valo-menu-responsive[width-range~="0-1100px"] .expand-sidebar {
        display: none;
    }

    .v-table-caption-container {
        text-transform: uppercase;
        font-weight: bold;
    }

    .v-caption-uppercase {
        text-transform: uppercase;
    }

    .v-caption {
        text-transform: capitalize;
    }

    .amount-header {
        font-weight: normal !important;
        text-align: right !important;
    }

    .v-grid-header .v-grid-cell {
        background-color: #fafafa;
        background-image: -webkit-linear-gradient(top, #fafafa 2%, #efefef 98%);
        background-image: linear-gradient(to bottom,#fafafa 2%, #efefef 98%);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
        text-transform: uppercase;
        font-weight : bold;
    }

    .v-grid .v-nativebutton {
       border: none;
       box-shadow: none;
       background: transparent;
       color: black;
       cursor: pointer;
       font-family: FontAwesome;
    }

    .v-grid .v-nativebutton:hover {

    }

    .align-right {
        text-align: right !important;
    }

    .v-table-row-debit-color, .debit-color {
        color: #0B4F6C;
    }

    .v-table-row-credit-color, .credit-color {
        color: #CE6C47;
    }

    .v-panel-caption-color1 {
        @include valo-panel-caption-style($background-color: hsl(220, 5%, 38%));
    }

    .margin-top-panel {
        margin-top: 20px;
    }

    .margin-bottom-panel {
        margin-bottom: 20px;
    }

    .v-panel-well {
    	background: #f5f5f5;
    	color: #454545;
    	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 2px 3px rgba(0, 0, 0, 0.05);
    	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 2px 3px rgba(0, 0, 0, 0.05);
    	border-radius: 4px;
    	border: 1px solid #c5c5c5;
    }

    /* Lay the options horizontally */
    .v-select-optiongroup-horizontal .v-select-option {
        display: inline-block;
    }

    /* Avoid wrapping if the layout is too tight */
    .v-select-optiongroup-horizontal {
        white-space: nowrap;
    }

    /* Some extra spacing is needed */
    .v-select-optiongroup-horizontal
      .v-select-option.v-radiobutton {
        padding-right: 10px;
    }

    .v-label-console {
      color: white;
      background-color: #38414b;
      font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
      font-size: 12px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 18.5714px;
    }

    .v-csslayout-console {
      background-color: #38414b;
      width: 100%;
      height: 100%;
      overflow: scroll;
    }

    .qi-float-right {
       float: right
    }

}
