name: "Run jPOS-EE Tests"
on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ 1.8, 9, 10, 11, 12, 13, 14, 15 ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle
    - name: Assemble
      run: ./gradlew assemble --info
      env:
        TERM: dumb
    - name: Check
      run: ./gradlew check --info
      env:
        TERM: dumb
    - name: Check minigl postgres
      run: ./gradlew :modules:minigl:clean :modules:minigl:check --rerun-tasks --info
      if: runner.os != 'Windows'
      env:
        TERM: dumb
        GRADLE_OPTS: -Dtest.minigl_db_driver=postgres
